@import"styles.scss";
h1{
    color:brown;
    font-family: Monotype Corsiva;
    text-align:center;
}
h2{
    color:purple;
}
h3{
    color:blue;
}
pre{
    color:orange;
}
.letter{
    color:red;
}
table{
    border-width: 3px;
    width:100%;
}
td{
    background-color:orange;
}